{
    "openapi": "3.0.0",
    "info": {
        "title": "sevDesk Receipt API",
        "description": "\r\n# General information\r\nWelcome to our Receipt API!<br>\r\nYou can use it to manage receipts (vouchers) in your sevDesk account.\r\n\r\n# Cross-Origin Resource Sharing\r\nThis API features Cross-Origin Resource Sharing (CORS).<br>\r\nIt enables cross-domain communication from the browser.<br>\r\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\r\n\r\n# Embedding resources\r\nWhen retrieving resources by using this API, you might encounter nested resources in the resources you requested.<br>\r\nFor example, an invoice always contains a contact, of which you can see the ID and the object name.<br>\r\nThis API gives you the possibility to embed these resources completely into the resources you originally requested.<br>\r\nTaking our invoice example, this would mean, that you would not only see the ID and object name of a contact, but rather the complete contact resource.\r\n\r\nTo embed resources, all you need to do is to add the query parameter 'embed' to your GET request.<br>\r\nAs values, you can provide the name of the nested resource.<br>\r\nMultiple nested resources are also possible by providing multiple names, separated by a comma.\r\n",
        "contact": {
            "email": "support@sevdesk.de"
        },
        "version": "2.0.0",
        "x-logo": {
            "url": "https://my.sevdesk.de/img/logos/1_100.png",
            "backgroundColor": "#263241",
            "altText": "sevDesk Logo"
        }
    },
    "servers": [
        {
            "url": "https://my.sevdesk.de/api/v1",
            "description": "Our main application instance which most of our customers work with"
        },
        {
            "url": "https://my.pebesmart.ch/api/v1",
            "description": "Our swiss application instance, hosted and maintained by smart seven AG"
        },
        {
            "url": "http://sevdesk.local/api/v1",
            "description": "sevDesk internal local instance"
        }
    ],
    "paths": {
        "/Voucher/Factory/saveVoucher": {
            "post": {
                "tags": [
                    "Voucher"
                ],
                "summary": "Create a new voucher",
                "description": "Creates a voucher together with positions and discounts.",
                "operationId": "createVoucherByFactory",
                "requestBody": {
                    "description": "Creation data. Please be aware, that you need to provide at least all required parameter\r\n    of the voucher and voucher position model!",
                    "content": {
                        "json": {
                            "schema": {
                                "required": [
                                    "voucher",
                                    "voucherPosSave",
                                    "voucherPosDelete"
                                ],
                                "properties": {
                                    "voucher": {
                                        "type": "object",
                                        "required": [
                                            "mapAll",
                                            "objectName"
                                        ],
                                        "allOf": [
                                            {
                                                "title": "Voucher model",
                                                "description": "Voucher model",
                                                "required": [
                                                    "creditDebit",
                                                    "taxType",
                                                    "status",
                                                    "voucherType"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "The voucher id",
                                                        "type": "integer",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "objectName": {
                                                        "description": "The voucher object name",
                                                        "type": "string",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "create": {
                                                        "description": "Date of voucher creation",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "update": {
                                                        "description": "Date of last voucher update",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "readOnly": true
                                                    },
                                                    "sevClient": {
                                                        "description": "Client to which voucher belongs. Will be filled automatically",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the client",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevClient'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "createUser": {
                                                        "description": "User who created the voucher. Will be filled automatically.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the user",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'SevUser'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "readOnly": true
                                                    },
                                                    "voucherDate": {
                                                        "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "example": "01.01.2020",
                                                        "nullable": true
                                                    },
                                                    "supplier": {
                                                        "description": "The contact used in the voucher as a supplier.<br>\nIf you don't have a contact as a supplier, you can set this object to null.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the contact",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Contact'",
                                                                "type": "string",
                                                                "default": "Contact"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "supplierName": {
                                                        "description": "The supplier name.<br>\r\n     The value you provide here will determine what supplier name is shown for the voucher in case you did not provide a supplier.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "John Snow",
                                                        "nullable": true
                                                    },
                                                    "description": {
                                                        "description": "The description of the voucher. Essentially the voucher number.",
                                                        "type": "string",
                                                        "default": null,
                                                        "example": "Voucher-1000",
                                                        "nullable": true
                                                    },
                                                    "document": {
                                                        "description": "The document of the voucher.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the document",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Document'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "resultDisdar": {
                                                        "description": "Internal attribute.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "documentPreview": {
                                                        "description": "The document preview of the voucher.",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the document",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'Document'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "payDate": {
                                                        "description": "Needs to be timestamp or dd.mm.yyyy",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "status": {
                                                        "description": "Please have a look in our\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-vouchers#types'>API-Overview</a>\r\n    to see what the different status codes mean",
                                                        "type": "integer",
                                                        "enum": [
                                                            50,
                                                            100,
                                                            1000
                                                        ],
                                                        "example": 50,
                                                        "nullable": false
                                                    },
                                                    "sumNet": {
                                                        "description": "Net sum of the voucher",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumTax": {
                                                        "description": "Tax sum of the voucher",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumGross": {
                                                        "description": "Gross sum of the voucher",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumNetAccounting": {
                                                        "description": "Net accounting sum of the voucher. Is usually the same as sumNet",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumTaxAccounting": {
                                                        "description": "Tax accounting sum of the voucher. Is usually the same as sumTax",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumGrossAccounting": {
                                                        "description": "Gross accounting sum of the voucher. Is usually the same as sumGross",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumDiscounts": {
                                                        "description": "Sum of all discounts in the voucher",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "sumDiscountsForeignCurrency": {
                                                        "description": "Discounts sum of the voucher in the foreign currency",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": false
                                                    },
                                                    "showNet": {
                                                        "description": "If true, the net amount of each position will be regarded. Otherwise gross amount",
                                                        "type": "boolean",
                                                        "default": "1",
                                                        "nullable": false,
                                                        "deprecated": true
                                                    },
                                                    "paidAmount": {
                                                        "description": "Amount which has already been paid for this voucher by the customer",
                                                        "type": "number",
                                                        "format": "float",
                                                        "readOnly": true,
                                                        "nullable": true
                                                    },
                                                    "taxType": {
                                                        "description": "Tax type of the voucher.\nThere are four tax types:\n1. default - Umsatzsteuer ausweisen\n2. eu - Steuerfreie innergemeinschaftliche Lieferung (Europäische Union)\n3. noteu - Steuerschuldnerschaft des Leistungsempfängers (außerhalb EU, z. B. Schweiz)\n4. custom - Using custom tax set\nTax rates are heavily connected to the tax type used.",
                                                        "type": "string",
                                                        "default": "default",
                                                        "nullable": false
                                                    },
                                                    "creditDebit": {
                                                        "description": "Defines if your voucher is a credit (C) or debit (D)",
                                                        "type": "string",
                                                        "enum": [
                                                            "C",
                                                            "D"
                                                        ],
                                                        "example": "C",
                                                        "nullable": false
                                                    },
                                                    "hidden": {
                                                        "description": "Defines if your voucher is hidden",
                                                        "type": "boolean",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "costCentre": {
                                                        "description": "Cost centre for the voucher",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the cost centre",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'CostCentre'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null
                                                    },
                                                    "voucherType": {
                                                        "description": "Type of the voucher. For more information on the different types, check\r\n     <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-vouchers#types'>this</a> section of\r\n     our API-Overview",
                                                        "type": "string",
                                                        "enum": [
                                                            "VOU",
                                                            "RV"
                                                        ],
                                                        "example": "VOU",
                                                        "nullable": false
                                                    },
                                                    "recurringIntervall": {
                                                        "description": "The interval in months in which recurring vouchers are generated.<br>\r\n     Necessary attribute for all recurring vouchers.",
                                                        "type": "integer",
                                                        "default": null,
                                                        "enum": [
                                                            "1",
                                                            "3",
                                                            "6",
                                                            "12",
                                                            "24",
                                                            "36",
                                                            "48",
                                                            "60"
                                                        ],
                                                        "nullable": true
                                                    },
                                                    "recurringStartDate": {
                                                        "description": "The date when the recurring vouchers start being generated.<br>\r\n     Necessary attribute for all recurring vouchers.",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "recurringNextVoucher": {
                                                        "description": "The date when the next voucher should be generated.<br>\r\n     Necessary attribute for all recurring vouchers.",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "recurringLastVoucher": {
                                                        "description": "The date when the last voucher was generated.",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "recurringEndDate": {
                                                        "description": "The date when the recurring vouchers end being generated.<br>\r\n    Necessary attribute for all recurring vouchers.",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "enshrined": {
                                                        "description": "Defines if and when voucher was enshrined. Enshrined vouchers can not be manipulated.",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "inSource": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "taxSet": {
                                                        "description": "Tax set of the voucher. Needs to be added if you chose the tax type custom",
                                                        "required": [
                                                            "id",
                                                            "objectName"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "Unique identifier of the object",
                                                                "type": "integer"
                                                            },
                                                            "objectName": {
                                                                "description": "Model name, which is 'TaxSet'",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "iban": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "accountingSpecialCase": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "string",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "paymentDeadline": {
                                                        "description": "Payment deadline of the voucher.",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "nullable": true
                                                    },
                                                    "tip": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "mileageRate": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "selectedForPaymentFile": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "supplierNameAtSave": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "taxmaroStockAccount": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "vatNumber": {
                                                        "description": "Deprecated attribute.",
                                                        "type": "number",
                                                        "format": "float",
                                                        "default": null,
                                                        "nullable": true,
                                                        "deprecated": true
                                                    },
                                                    "deliveryDate": {
                                                        "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": "02.01.2020",
                                                        "example": "01.01.2020",
                                                        "nullable": false
                                                    },
                                                    "deliveryDateUntil": {
                                                        "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "default": null,
                                                        "example": "01.01.2020",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            {
                                                "properties": {
                                                    "mapAll": {
                                                        "type": "boolean",
                                                        "default": "true"
                                                    },
                                                    "objectName": {
                                                        "type": "string",
                                                        "default": "Voucher"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "voucherPosSave": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "mapAll",
                                                "objectName"
                                            ],
                                            "allOf": [
                                                {
                                                    "title": "VoucherPos model",
                                                    "description": "Voucher position model",
                                                    "required": [
                                                        "accountingType",
                                                        "voucher",
                                                        "taxRate",
                                                        "sumGross",
                                                        "sumNet",
                                                        "net"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "description": "The voucher position id",
                                                            "type": "integer",
                                                            "readOnly": true,
                                                            "nullable": false
                                                        },
                                                        "objectName": {
                                                            "description": "The voucher position object name",
                                                            "type": "string",
                                                            "readOnly": true,
                                                            "nullable": false
                                                        },
                                                        "create": {
                                                            "description": "Date of voucher position creation",
                                                            "type": "string",
                                                            "readOnly": true
                                                        },
                                                        "update": {
                                                            "description": "Date of last voucher position update",
                                                            "type": "string",
                                                            "readOnly": true
                                                        },
                                                        "sevClient": {
                                                            "description": "Client to which voucher position belongs. Will be filled automatically",
                                                            "required": [
                                                                "id",
                                                                "objectName"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Unique identifier of the client",
                                                                    "type": "integer"
                                                                },
                                                                "objectName": {
                                                                    "description": "Model name, which is 'SevClient'",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "readOnly": true
                                                        },
                                                        "voucher": {
                                                            "description": "The voucher to which the position belongs.",
                                                            "required": [
                                                                "id",
                                                                "objectName"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Unique identifier of the voucher",
                                                                    "type": "integer"
                                                                },
                                                                "objectName": {
                                                                    "description": "Model name, which is 'Voucher'",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "readOnly": true
                                                        },
                                                        "accountingType": {
                                                            "description": "The accounting type to which the position belongs.<br>\r\n     An accounting type is the booking account to which the position belongs.<br>\r\n     For more information, please refer to\r\n     <a href='http://sevdesk.local/src/apiOverview/index.html#/doc-vouchers#otherResources'>this</a> section of our API-Overview.",
                                                            "required": [
                                                                "id",
                                                                "objectName"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Unique identifier of the accounting type",
                                                                    "type": "integer"
                                                                },
                                                                "objectName": {
                                                                    "description": "Model name, which is 'AccountingType'",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "estimatedAccountingType": {
                                                            "description": "The accounting type to which the position belongs estimated by our voucher recognition.<br>\r\n    An accounting type is the booking account to which the position belongs.<br>\r\n    For more information, please refer to\r\n    <a href='http://sevdesk.local/src/apiOverview/index.html#/doc-vouchers#otherResources'>this</a> section of our API-Overview.",
                                                            "required": [
                                                                "id",
                                                                "objectName"
                                                            ],
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Unique identifier of the accounting type",
                                                                    "type": "integer"
                                                                },
                                                                "objectName": {
                                                                    "description": "Model name, which is 'AccountingType'",
                                                                    "type": "string",
                                                                    "default": "AccountingType"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "readOnly": true
                                                        },
                                                        "taxRate": {
                                                            "description": "Tax rate of the voucher position.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 19
                                                        },
                                                        "sum": {
                                                            "description": "Sum of the voucher position.<br>\r\n     Is only regarded if 'sumNet' and 'sumGross' are not given.<br>\r\n     Whether net or gross is then determined by 'net' attribute.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "default": null,
                                                            "nullable": true,
                                                            "deprecated": true
                                                        },
                                                        "net": {
                                                            "description": "Determines whether 'sumNet' or 'sumGross' is regarded.<br>\r\n     If both are not given, 'sum' is regarded and treated as net or gross depending on 'net'.",
                                                            "type": "boolean",
                                                            "example": "true"
                                                        },
                                                        "isAsset": {
                                                            "description": "Determines whether position is regarded as an asset which can be depreciated.",
                                                            "type": "boolean",
                                                            "example": "false"
                                                        },
                                                        "sumNet": {
                                                            "description": "Net sum of the voucher position.<br>\r\n    Only regarded if 'net' is 'true', otherwise its readOnly.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 100
                                                        },
                                                        "sumTax": {
                                                            "description": "Tax sum of the voucher position.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "readOnly": true
                                                        },
                                                        "sumGross": {
                                                            "description": "Gross sum of the voucher position.<br>\r\n    Only regarded if 'net' is 'false', otherwise its readOnly.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": null
                                                        },
                                                        "sumNetAccounting": {
                                                            "description": "Net accounting sum. Is equal to sumNet.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "readOnly": true
                                                        },
                                                        "sumTaxAccounting": {
                                                            "description": "Tax accounting sum. Is equal to sumTax.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "readOnly": true
                                                        },
                                                        "sumGrossAccounting": {
                                                            "description": "Gross accounting sum. Is equal to sumGross.",
                                                            "type": "number",
                                                            "format": "float",
                                                            "readOnly": true
                                                        },
                                                        "comment": {
                                                            "description": "Comment for the voucher position.",
                                                            "type": "string",
                                                            "default": null,
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                {
                                                    "properties": {
                                                        "mapAll": {
                                                            "type": "boolean",
                                                            "default": "true"
                                                        },
                                                        "objectName": {
                                                            "type": "string",
                                                            "default": "VoucherPos"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "voucherPosDelete": {
                                        "description": "The voucher positions you want to delete. If you don't have any, set to null.",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "id",
                                                "objectName"
                                            ],
                                            "properties": {
                                                "id": {
                                                    "description": "ID of position to delete",
                                                    "type": "integer"
                                                },
                                                "objectName": {
                                                    "description": "Object name of position",
                                                    "type": "string",
                                                    "default": "VoucherPos"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "default": null,
                                        "nullable": true
                                    },
                                    "filename": {
                                        "description": "Filename of a previously upload file which should be attached.",
                                        "type": "string",
                                        "format": "binary",
                                        "default": null,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created - Returns created voucher",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "objects": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "voucher": {
                                                        "description": "The created voucher",
                                                        "type": "object",
                                                        "title": "Voucher model",
                                                        "required": [
                                                            "creditDebit",
                                                            "taxType",
                                                            "status",
                                                            "voucherType"
                                                        ],
                                                        "properties": {
                                                            "id": {
                                                                "description": "The voucher id",
                                                                "type": "integer",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "objectName": {
                                                                "description": "The voucher object name",
                                                                "type": "string",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "create": {
                                                                "description": "Date of voucher creation",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            },
                                                            "update": {
                                                                "description": "Date of last voucher update",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            },
                                                            "sevClient": {
                                                                "description": "Client to which voucher belongs. Will be filled automatically",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the client",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'SevClient'",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "readOnly": true
                                                            },
                                                            "createUser": {
                                                                "description": "User who created the voucher. Will be filled automatically.",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the user",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'SevUser'",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "readOnly": true
                                                            },
                                                            "voucherDate": {
                                                                "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "example": "01.01.2020",
                                                                "nullable": true
                                                            },
                                                            "supplier": {
                                                                "description": "The contact used in the voucher as a supplier.<br>\nIf you don't have a contact as a supplier, you can set this object to null.",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the contact",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'Contact'",
                                                                        "type": "string",
                                                                        "default": "Contact"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "supplierName": {
                                                                "description": "The supplier name.<br>\r\n     The value you provide here will determine what supplier name is shown for the voucher in case you did not provide a supplier.",
                                                                "type": "string",
                                                                "default": null,
                                                                "example": "John Snow",
                                                                "nullable": true
                                                            },
                                                            "description": {
                                                                "description": "The description of the voucher. Essentially the voucher number.",
                                                                "type": "string",
                                                                "default": null,
                                                                "example": "Voucher-1000",
                                                                "nullable": true
                                                            },
                                                            "document": {
                                                                "description": "The document of the voucher.",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the document",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'Document'",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "resultDisdar": {
                                                                "description": "Internal attribute.",
                                                                "type": "string",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "documentPreview": {
                                                                "description": "The document preview of the voucher.",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the document",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'Document'",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "payDate": {
                                                                "description": "Needs to be timestamp or dd.mm.yyyy",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "status": {
                                                                "description": "Please have a look in our\r\n    <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-vouchers#types'>API-Overview</a>\r\n    to see what the different status codes mean",
                                                                "type": "integer",
                                                                "enum": [
                                                                    50,
                                                                    100,
                                                                    1000
                                                                ],
                                                                "example": 50,
                                                                "nullable": false
                                                            },
                                                            "sumNet": {
                                                                "description": "Net sum of the voucher",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumTax": {
                                                                "description": "Tax sum of the voucher",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumGross": {
                                                                "description": "Gross sum of the voucher",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumNetAccounting": {
                                                                "description": "Net accounting sum of the voucher. Is usually the same as sumNet",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumTaxAccounting": {
                                                                "description": "Tax accounting sum of the voucher. Is usually the same as sumTax",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumGrossAccounting": {
                                                                "description": "Gross accounting sum of the voucher. Is usually the same as sumGross",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumDiscounts": {
                                                                "description": "Sum of all discounts in the voucher",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "sumDiscountsForeignCurrency": {
                                                                "description": "Discounts sum of the voucher in the foreign currency",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": false
                                                            },
                                                            "showNet": {
                                                                "description": "If true, the net amount of each position will be regarded. Otherwise gross amount",
                                                                "type": "boolean",
                                                                "default": "1",
                                                                "nullable": false,
                                                                "deprecated": true
                                                            },
                                                            "paidAmount": {
                                                                "description": "Amount which has already been paid for this voucher by the customer",
                                                                "type": "number",
                                                                "format": "float",
                                                                "readOnly": true,
                                                                "nullable": true
                                                            },
                                                            "taxType": {
                                                                "description": "Tax type of the voucher.\nThere are four tax types:\n1. default - Umsatzsteuer ausweisen\n2. eu - Steuerfreie innergemeinschaftliche Lieferung (Europäische Union)\n3. noteu - Steuerschuldnerschaft des Leistungsempfängers (außerhalb EU, z. B. Schweiz)\n4. custom - Using custom tax set\nTax rates are heavily connected to the tax type used.",
                                                                "type": "string",
                                                                "default": "default",
                                                                "nullable": false
                                                            },
                                                            "creditDebit": {
                                                                "description": "Defines if your voucher is a credit (C) or debit (D)",
                                                                "type": "string",
                                                                "enum": [
                                                                    "C",
                                                                    "D"
                                                                ],
                                                                "example": "C",
                                                                "nullable": false
                                                            },
                                                            "hidden": {
                                                                "description": "Defines if your voucher is hidden",
                                                                "type": "boolean",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "costCentre": {
                                                                "description": "Cost centre for the voucher",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the cost centre",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'CostCentre'",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "default": null
                                                            },
                                                            "voucherType": {
                                                                "description": "Type of the voucher. For more information on the different types, check\r\n     <a href='https://5677.extern.sevdesk.dev/apiOverview/index.html#/doc-vouchers#types'>this</a> section of\r\n     our API-Overview",
                                                                "type": "string",
                                                                "enum": [
                                                                    "VOU",
                                                                    "RV"
                                                                ],
                                                                "example": "VOU",
                                                                "nullable": false
                                                            },
                                                            "recurringIntervall": {
                                                                "description": "The interval in months in which recurring vouchers are generated.<br>\r\n     Necessary attribute for all recurring vouchers.",
                                                                "type": "integer",
                                                                "default": null,
                                                                "enum": [
                                                                    "1",
                                                                    "3",
                                                                    "6",
                                                                    "12",
                                                                    "24",
                                                                    "36",
                                                                    "48",
                                                                    "60"
                                                                ],
                                                                "nullable": true
                                                            },
                                                            "recurringStartDate": {
                                                                "description": "The date when the recurring vouchers start being generated.<br>\r\n     Necessary attribute for all recurring vouchers.",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "recurringNextVoucher": {
                                                                "description": "The date when the next voucher should be generated.<br>\r\n     Necessary attribute for all recurring vouchers.",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "recurringLastVoucher": {
                                                                "description": "The date when the last voucher was generated.",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "recurringEndDate": {
                                                                "description": "The date when the recurring vouchers end being generated.<br>\r\n    Necessary attribute for all recurring vouchers.",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "enshrined": {
                                                                "description": "Defines if and when voucher was enshrined. Enshrined vouchers can not be manipulated.",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "inSource": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "string",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "taxSet": {
                                                                "description": "Tax set of the voucher. Needs to be added if you chose the tax type custom",
                                                                "required": [
                                                                    "id",
                                                                    "objectName"
                                                                ],
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Unique identifier of the object",
                                                                        "type": "integer"
                                                                    },
                                                                    "objectName": {
                                                                        "description": "Model name, which is 'TaxSet'",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "iban": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "string",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "accountingSpecialCase": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "string",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "paymentDeadline": {
                                                                "description": "Payment deadline of the voucher.",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": null,
                                                                "nullable": true
                                                            },
                                                            "tip": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "number",
                                                                "format": "float",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "mileageRate": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "number",
                                                                "format": "float",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "selectedForPaymentFile": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "number",
                                                                "format": "float",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "supplierNameAtSave": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "number",
                                                                "format": "float",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "taxmaroStockAccount": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "number",
                                                                "format": "float",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "vatNumber": {
                                                                "description": "Deprecated attribute.",
                                                                "type": "number",
                                                                "format": "float",
                                                                "default": null,
                                                                "nullable": true,
                                                                "deprecated": true
                                                            },
                                                            "deliveryDate": {
                                                                "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "default": "02.01.2020",
                                                                "example": "01.01.2020",
                                                                "nullable": false
                                                            },
                                                            "deliveryDateUntil": {
                                                                "description": "Needs to be provided as timestamp or dd.mm.yyyy",
                                                                "type": "string",
                                                                "format": "date-time",
[...]
